@font-face {
    font-family: 'Inter';
    src: url('media/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype'),
         url('/path/to/fonts/Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('media/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Inter, sans-serif;
    background-color: rgb(22, 22, 22);
    scroll-behavior: smooth;
    /* color: #f7ba5e; */
    color: white;
}

.body-scroll-lock { /* Used to remove scrolling of main page when info card is open */
    overflow: hidden;
    margin-right: 15px; /* Adjust this value based on your scrollbar width */
}


p {
    font-size: 1.2em;
    color: rgb(243, 243, 243);
    line-height: 1.5;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px 40px; 
    background: linear-gradient(#141414ea, transparent); 
    position: sticky; /* Change position to sticky */
    top: 0; /* Stick to the top */
    z-index: 99; 
    transition: background-color 0.3s ease; /* Smooth transition for background */
}

header.sticky {
    background-color: #141414; /* Solid background color when sticky */
}

.navBar>li>a, .navBar>li>a:visited{
    text-decoration: none;
    color: inherit;
}

.navBar {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-right: 30px; 
    color: rgb(206, 206, 206); 
    font-size: 12px; 
    transition: color 0.2s ease-in-out;
}

.logo>a {
    display: inline-block;
    width: 40px;
}

.logo>a>img {
    margin-right: 40px;
    height: 40px;
    width: auto;
}

.navItem.active {
    color: white; 
}

.socials {
    display: flex;
}

.social-icon {
    width: auto; 
    height: 18px; 
    filter: brightness(0) invert(1); 
    margin-left: 20px; 
    align-items: center;
    transition: filter 0.3s ease;
}

.social-icon:hover {
    filter: brightness(0) invert(0.8); 
}

.navItem:hover, .socials a:hover {
    color: lightgrey; 
}

/* -------------------------------------- */


.hero {
    display: flex;
    /* position: relative; */
    height: 50vh; /* Full height of the viewport */
    overflow: hidden; /* Prevent overflow */
    z-index: 1;
    align-items: center;
    /* position: relative; */
}

.heroBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 15px); /* Full width */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    max-height: 80vh;
    display: flex;
    justify-content: center;
    overflow: clip;
    z-index: 1;
}

.heroBackground::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(22, 22, 22, 1) 95%);
    z-index: 2;
}

.heroBackground img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the entire area */
}

.heroContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.heroDetails {
    position: absolute;
    bottom: 0;
    width: 45%; /* 40% of the screen width */
    max-width: 700px;
    padding: 40px; /* Padding for spacing */
    color: white; /* Text color */
    z-index: 3;
}

.heroLogo {
    font-size: 3.5rem; /* Logo size */

}

.logoImage {
    max-height: 200px;
    width: inherit;
    max-width: 500px;
    margin-bottom: 20px;
}

.heroTagline {
    font-size: 1.5rem; /* Tagline size */
    margin: 10px 0; /* Margin for spacing */
}

.heroDescription {
    margin: 15px 0;
    color: white;
    font-size: clamp(0.5rem, 2vw, 1rem);
}

.buttonContainer {
    display: flex; /* Align buttons side by side */
}

.projectCTAButton {
    background-color: white; /* White background */
    color: black; /* Dark text */
    border: none; /* Remove default border */
    border-radius: 5px;
    padding: 10px 20px; /* Button padding */
    margin-right: 10px; /* Space between buttons */
    cursor: pointer; /* Pointer on hover */
    transition: background 0.2s; /* Smooth background change */
}

.projectInfoButton {
    background-color: rgba(126, 126, 126, 0.774); /* Semi-transparent grey */
    color: white; /* White text */
    border: none; /* Remove default border */
    border-radius: 5px;
    padding: 10px 20px; /* Button padding */
    cursor: pointer; /* Pointer on hover */
    transition: background 0.2s; /* Smooth background change */
}

.projectCTAButton:hover {
    background-color: #c7c7c7; /* Slight darkening on hover */
}

.projectInfoButton:hover {
    background-color: rgba(122, 122, 122, 0.6); /* Darken on hover */
}

.heroVignette {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: linear-gradient(to right, rgba(22, 22, 22, 0.5) 10%, rgba(22, 22, 22, 0) 60%); /* Vignette effect */
    pointer-events: none; /* Allow clicks to pass through */
    z-index: 2;
}



/* ------------------------- */

/* Hidden by default */
.overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay.visible {
    display: block;
    opacity: 1;
}

.infoCard {
    position: relative;
    margin: 32px auto;
    width: 96%;
    max-width: 900px;
    background: rgb(25, 25, 25);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transform: scale(0.8); /* Start scaled down */
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.infoCard.visible {
    transform: scale(1);
    opacity: 1;
}

/* Other existing styles for the info card */
.infoHero {
    position: relative;
}

.infoBackgroundImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding-top: 6px;
    text-align: center;
    z-index: 105;
}

.infoDetails {
    position: absolute;
    bottom: 0px;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 1.5em;
    max-width: 50%;
    z-index: 103;
}

.projectArticleButton {
    background-color: white; /* White background */
    color: black; /* Dark text */
    border: none; /* Remove default border */
    border-radius: 5px;
    padding: 10px 20px; /* Button padding */
    margin-right: 10px; /* Space between buttons */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.2s; /* Smooth background change */
    display: none;
}

.hasArticle {
    display: block;
}

.likeButton, .shareButton {
    background: rgba(71, 71, 71, 0.685);
    border: 2px solid rgb(226, 226, 226);
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 5px;
    width: 40px;
    height: 40px;
}

.infoHeroVignette {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(25, 25, 25, 0), rgba(25, 25, 25, 1) 95%);
    z-index: 101;
}

.infoContent {
    display: flex;
    padding: 0 40px 40px;
}

.leftColumn {
    flex: 2;
    margin-right: 30px;
}

.leftColumnDetails {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0.5em;
}

.leftColumnDetails>p {
    color: #c7c7c7;
}

.rightColumn {
    flex: 1;
    margin-left: 10px;
}

.rightColumnDetails {
    color: rgb(114, 114, 114);
}

.rightColumn>p {
    padding: 0.5em;
}

.projectLongDescription {
    padding-top: 20px;
}

.projectLongDescription>h2{
    font-size: 1.5em;
}

.infoGalleryTitle {
    padding-left: 40px;
}

.imageGallery {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* flex-wrap: wrap; */
    margin: 20px 40px;
    justify-content: left; /* Center images */
    gap: 20px;
    cursor: grab;
}

.galleryImage {
    height: 300px;
}




/* ------------------------- */


.projectSection {
    position: relative;
    z-index: 2;
}

/* Title styling */
.sectionTitle {
    font-size: 1.2em;
    padding: 20px 40px;
}

/* Carousel container styling */
.carouselContainer {
    position: relative;
    width: 100%;
    overflow: hidden; /* Prevent content overflow */
}

/* Gallery styling */
.sectionGallery {
    display: flex;
    transition: transform 0.5s ease; /* Smooth scrolling effect */
}

/* Carousel button styling */
.carouselButton {
    background: rgba(82, 82, 82, 0.8);
    width: 30px;
    height: calc(((100vw - 115px) / 3) * 10 / 16 + 3px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s;
    z-index: 10;
}

.carouselButton.left {
    border-radius: 0 5px 5px 0;
    display: none;
}

.carouselButton.right {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.carouselContainer:hover .carouselButton {
    opacity: 1; /* Show buttons on hover */
}

/* Gallery item styling */
.galleryItem {
    background: linear-gradient(rgb(117, 117, 136), rgb(122, 108, 110));
    flex: 1 1 calc((100vw - 115px) / 3); /* Allow item to take available width */
    max-width: calc((100vw - 115px) / 3);
    min-width: calc((100vw - 115px) / 3);
    height: calc(((100vw - 115px) / 3) * 10 / 16);
    margin-right: 10px; /* Space between items */
    border-radius: 5px; /* Rounded corners */
    overflow: hidden; /* Clip images that overflow */
    position: relative;
}

.galleryItem:first-of-type { /* initual space for nav button */
    margin-left: 40px;
}

/* Image styling */
.galleryItem > img {
    position: absolute; /* Position it absolutely within the galleryItem */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
    width: 100%; /* Take full width */
    height: 100%; /* Take full height */
    object-fit: cover; /* Scale the image to cover the entire div */
}

/* Responsive Breakpoints */
@media (min-width: 900px) {
    .galleryItem {
    flex: 1 1 calc((100vw - 125px) / 4);
    max-width: calc((100vw - 125px) / 4);
    min-width: calc((100vw - 125px) / 4);
    height: calc(((100vw - 125px) / 4) * 10 / 16);
    }
    .carouselButton {
    height: calc(((100vw - 125px) / 4) * 10 / 16 + 3px);
    }
}

@media (min-width: 1200px) {
    .galleryItem {
    flex: 1 1 calc((100vw - 135px) / 5); 
    max-width: calc((100vw - 135px) / 5);
    min-width: calc((100vw - 135px) / 5);
    height: calc(((100vw - 135px) / 5) * 10 / 16);
    }
    .carouselButton {
    height: calc(((100vw - 135px) / 5) * 10 / 16 + 3px);
    }
}

@media (min-width: 1600px) {
    .galleryItem {
    flex: 1 1 calc((100vw - 145px) / 6); 
    max-width: calc((100vw - 145px) / 5);
    min-width: calc((100vw - 145px) / 5);
    height: calc(((100vw - 145px) / 6) * 10 / 16);
    }
    .carouselButton {
    height: calc(((100vw - 145px) / 6) * 10 / 16 + 3px);
    }
}


